<div class="section-nav">
  <%#= link_to "p5.js", p5js_path, class: "section-link" %>
  <%#= link_to "Code", code_path, class: "section-link" %>
  <%= link_to "Resume", resume_path, class: "section-link" %>
</div>



<h1>My Articles</h1>

<%= link_to "New Article", new_article_path %>



<% @articles.each do |article| %>
  <article>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p><%= truncate(article.body, length: 150) %></p>
  </article>
  <hr>
<% end %>
